   @model MicroSocialPlatform.Models.ApplicationUser

<h2>@Model.FirstName @Model.LastName</h2>
<img src="@Model.ProfilePicture" alt="Profile Picture" class="img-thumbnail" />
<p>@Model.Description</p>

<h2>Public</h2>